<div class="card w-full">
    <div class="font-semibold text-xl mb-4">Atividades de Sincronização</div>

    <div class="card">
        <p-table #dt [value]="displayValue" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['baseNome', 'schemaNome', 'operacao', 'status']"
            [tableStyle]="{ 'min-width': '50rem' }">


            <ng-template #caption>
                <div class="flex flex-wrap gap-2 justify-between items-center">
                    <div class="flex flex-wrap gap-2">

                        <button title="Limpar" pButton label="Limpar Filtros" icon="pi pi-filter-slash"
                            class="p-button-outlined" (click)="onClearFilters(dt)"></button>
                    </div>

                    <p-iconfield iconPosition="left" class="w-full sm:w-auto mt-2 sm:mt-0">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input #filter pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="Pesquisar..." class="w-full sm:w-auto" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="width:20%">Base</th>
                    <th style="width:20%">Esquema</th>
                    <th style="width:20%">Operação</th>
                    <th style="width:20%">Situação</th>
                    <th style="width:20%">Data</th>
                </tr>
            </ng-template>

            <ng-template #body let-item>
                <tr *ngIf="loading">
                    <td><p-skeleton height="1rem" /></td>
                    <td><p-skeleton height="1rem" /></td>
                    <td><p-skeleton height="1rem" /></td>
                    <td><p-skeleton height="1rem" /></td>
                    <td><p-skeleton height="1rem" /></td>
                </tr>
                <tr *ngIf="!loading">
                    <td>{{ item.baseNome }}</td>
                    <td>{{ item.schemaNome }}</td>
                    <td>{{ item.operacao }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.ultimaExecucao }}</td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr *ngIf="!loading">
                    <td colspan="5" class="text-center p-6 text-muted-color">
                        Nenhuma atividade de sincronização encontrada.
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
