<div class="sql-toolbar">
  <p-button label="Executar" icon="pi pi-play" [loading]="executing" [disabled]="executing" (click)="executar.emit()" />
  <p-button
    label="Executar selecionado"
    icon="pi pi-forward"
    severity="secondary"
    [outlined]="true"
    [disabled]="executing"
    (click)="executarSelecionado.emit()"
  />
  <p-button label="Formatar" icon="pi pi-align-left" severity="secondary" [outlined]="true" (click)="formatar.emit()" />
  <p-button label="Limpar" icon="pi pi-eraser" severity="secondary" [outlined]="true" (click)="limpar.emit()" />
  <!-- <p-button label="Salvar consulta" icon="pi pi-save" severity="secondary" [outlined]="true" (click)="salvar.emit()" /> -->
  <!-- <p-button label="Historico" icon="pi pi-history" severity="secondary" [outlined]="true" (click)="historico.emit()" /> -->
  <!-- <p-button icon="pi pi-angle-down" severity="secondary" [outlined]="true" (click)="options.toggle($event)" /> -->
  <!-- <p-menu #options [model]="menuItems" [popup]="true" /> -->
</div>
