<section class="editor-pane">
  <div class="pane-commandbar">
    <div class="query-tabs">
      <button
        class="query-tab"
        type="button"
        *ngFor="let tab of queryTabs"
        [class.active]="tab.id === activeQueryTabId"
        (click)="selecionarQueryTab.emit(tab.id)"
      >
        <i class="pi pi-file"></i>
        <span>{{ tab.name }}</span>
        <i
          class="pi pi-times close-tab"
          *ngIf="queryTabs.length > 1"
          (click)="$event.stopPropagation(); fecharQueryTab.emit(tab.id)"
        ></i>
      </button>

      <button class="query-tab new" type="button" (click)="novaConsulta.emit()">
        <i class="pi pi-plus"></i>
        Nova Query
      </button>
    </div>

    <div class="layout-actions">
      <button type="button" title="Maximizar editor" (click)="maximizarEditor.emit()">
        <i class="pi pi-window-maximize"></i>
      </button>

      <button type="button" title="Restaurar layout" (click)="restaurarLayout.emit()">
        <i class="pi pi-th-large"></i>
      </button>
    </div>
  </div>

  <app-sql-code-editor
    [sql]="sql"
    [executing]="state === 'executing'"
    [danger]="danger"
    [catalogo]="catalogo"
    (sqlChange)="sqlChange.emit($event)"
    (formatar)="formatar.emit()"
    (executar)="executar.emit()"
    (executarSelecionado)="executarSelecionado.emit($event)"
    (limpar)="limpar.emit()"
    (salvar)="salvar.emit()"
    (historico)="historico.emit()"
    (propriedadesTabela)="propriedadesTabela.emit($event)"
  />
</section>
