:root {
    --surface-ground: var(--sincdb-app-canvas-bg, #f7f7f9);
    --surface-card: var(--p-content-background, #ffffff);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
}
