:root {
    --layout-topbar-float-top: 1.5rem;
    --layout-topbar-float-x: 1.5rem;
    --layout-topbar-height: 3.75rem;
    --layout-float-gap: 1.25rem;
    --layout-content-top: calc(
        var(--layout-topbar-float-top) + var(--layout-topbar-height) + var(--layout-float-gap)
    );
    --layout-sidebar-width: 20rem;
    --layout-sidebar-left: 1.5rem;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
